{% extends "base.html" %} {%block title %} Autores {% endblock %} {%block contenido %}
<h3 class="text-center my-4 mx-5"> Base de datos de los autores de libros que hay en nuestra biblioteca </h3>


<div class="container-fluid">
    <a class="btn btn-primary text-center" href="{% url 'nuevo_autor' %}">Insertar un nuevo autor</a>
</div>


<div class="table-responsive mx-3 my-5 ">
    <table class="table table-striped ">
        <thead class="thead-dark ">
            <tr>
                <th scope="col ">Nombre</th>
                <th scope="col ">Fecha de Nacimiento</th>
                <th scope="col ">ID</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {% for autor in autores %}
            <tr>
                <th scope="row ">{{ autor.nombre }}</th>
                {% if autor.nacimiento %}
                <td>{{ autor.nacimiento }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{ autor.id }}</td>
                <td><a class="btn btn btn-dark text-center " href="{% url 'editar_autor' autor.id %} ">Editar</a></td>
                <td><a class="btn btn btn-danger text-center " href="{% url 'eliminar_autor' autor.id %} ">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}