{% extends 'base.html' %} {%block title %} Libros {% endblock %} {% block contenido %}

<form action="{% url 'eliminar_libro' libro.codigo %}" method="POST" class="my-5">{% csrf_token %}
    <div class="container-fluid">
        <p> ¿Estás seguro que quieres eliminar el libro {{ libro }}? </p>
        <div class="row mb-2">
            <div class="col-md-auto my-2">
                <button type="submit" class="btn btn-danger text-center" name="eliminar">Confirmar</button>
            </div>

            <div class="col-md-auto my-2">
                <a class="btn btn btn-dark text-center " href="{% url 'libros' %} ">Cancelar</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}