{%extends "base.html" %} {%block title %} Cambiar Contraseña {% endblock %} {%block contenido %} {% if error %}
<div class="alert alert-danger" role="alert">
    <p class=error><strong>Error:</strong> {{ error }}
</div> {% endif %}

<div class="row ">
    <div class="col-md-5 mx-auto">
        <div class="text-center">
            <h2>Cambiar la contraseña</h2>
        </div>
        <form action="{{ url_for('change_pass') }}" method="post">
            <div class="form-group ">
                <label for="password">Intruzca la contraseña actual:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group ">
                <label for="password2">Nueva contraseña</label>
                <input type="password" class="form-control" id="newpass1" name="newpass1" placeholder="New Password">
            </div>
            <div class="form-group ">
                <label for="password2">Repita la nueva contraseña</label>
                <input type="password" class="form-control" id="newpass2" name="newpass2" placeholder="New Password">
            </div>
            <!-- <div class="form-group form-check ">
        <input type="checkbox " class="form-check-input " id="exampleCheck1 ">
        <label class="form-check-label " for="exampleCheck1 ">Remember me</label>
    </div> -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="change" name="change">Cambiar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}